@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.single-recipe {
  width: 100%;

  @include tablet {
    width: $pageWidth-tablet;
    margin: auto;
    margin-bottom: $margin-tablet;
  }

  @include desktop{
    width:$pageWidth-desktop;
  }

  &__navbar {
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem $margin-mobile;

    @include tablet {
      width: $pageWidth-tablet;
    }
  }

  &__navbar-button-container {
    display: flex;
    gap: 0.5rem;

    @include tablet {
      display: none;
    }
  }

  &__navbar-button {
    display: flex;
    background-color: $white;
    border: none;
    width: $elementHeight-mobile;
    height: $elementHeight-mobile;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;

    &:hover{
      background-color: $gray-evergreen;
    }

    @include tablet {
      width: $elementHeight-tablet;
      height: $elementHeight-tablet;
    }
  }

  &__navbar-icon {
    width: 1.25rem;
    height: 1.25rem;

    @include tablet {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__image-container {
    position: relative; // Required for positioning the overlay
    width: 100%;
    height: 40vh; // Match the height of the image
  }

  &__image {
    filter: grayscale(30%);
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    position: relative;
    top: 0;

    @include tablet {
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); // Black with 30% transparency
    z-index: 1; // Ensure the overlay is on top of the image

    @include tablet {
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }

  &__card {
    position: relative;
    margin: 0 $margin-mobile;
    background-color: $white;
    padding: 1.5rem 1rem 0.5rem 1rem;
    margin-top: -5.5rem;
    margin-bottom: 1.5rem;
    z-index: 10;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);

    @include tablet {
      margin: 0;
      padding: 2rem 2rem 1rem 2rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid $gray-evergreen;

    @include tablet {
      padding-bottom: 1.5rem;
    }
  }

  &__title-container {
    display: flex;
    height: 3rem;
    align-items: center;
  }

  &__title {
    color: $evergreen;
  }

  &__button-container {
    display: flex;
    gap: 0.5rem;

    @include tablet {
      gap: 1rem;
    }
  }

  &__cookbook-button {
    width: 2.25rem;
    height: $elementHeight-mobile;
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &--delete {
      background-color: $red-opacity;

      &:hover{
        background-color: #df535371;
      }
    }

    &--edit {
      background-color: $evergreen-opacity;

      &:hover{
        background-color: $gray-evergreen;
      }
    }

    @include tablet {
      width: $elementHeight-tablet;
      height: $elementHeight-tablet;
    }
  }

  &__header-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: $white;

    &--delete {
      fill: $red;
    }

    &--edit {
      fill: $evergreen;
    }

    @include tablet {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__ingredients-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    @include tablet {
      padding-top: 1.5rem;
    }
  }

  &__ingredients-header {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    @include tablet {
      gap: 0.5rem;
    }
  }

  &__ingredients-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__ingredients-label {
    color: $evergreen;
  }

  &__time-container {
    min-width: 4rem;

    @include tablet {
      min-width: 5rem;
    }
  }

  &__time {
    display: flex;
    gap: 0.25rem;

    @include tablet {
      gap: 0.5rem;
    }
  }

  &__label {
    color: $evergreen;
    font-weight: 600;
  }

  &__list {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

    @include tablet {
      padding-left: 2rem;
      padding-top: 0.75rem;
    }
  }

  &__list-item {
    list-style: circle;
  }
}
