@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.recipe-search {
  margin: 0 $margin-mobile 1.5rem $margin-mobile;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &__input {
    width: 100%;
    border-radius: 1.25rem;
    height: $elementHeight-mobile;
    padding: 0 1rem;
    border: 1px solid $gray-evergreen;
    outline: none; // Reset outline

    &--active {
      border-color: $evergreen;
    }
  }

  &__button {
    width: 100%;
    border-radius: 1.25rem;
    height: $elementHeight-mobile;
    border: none;
    background-color: $evergreen;
    color: $white;

    &:hover {
      background-color: $dark-evergreen;
      cursor: pointer;
    }
  }
}
