// Responsive Design Variables

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$margin-mobile: 1rem;
$margin-tablet: 2.5rem;
$desktop-width: 58rem;
$tablet-width: 43rem;
$elementHeight-mobile: 2.25rem;
$elementHeight-tablet: 2.375rem;


// Colors

$background: #FFFDFA;
$evergreen: #3E5B62;
$evergreen-opacity: rgba(62, 91, 98, 0.1);
$dark-evergreen: #304958;
$gray-evergreen: #BAD2D8;
$white: #FFFFFF;
$black: #000000;
$red-primary: #A31414;
$red: #DA0D0D;
$red-opacity: rgba(218, 13, 13, 0.1);